<h2>About DinoPass</h2>

<h3>API for your applications</h3>

<p>
	DinoPass has an <a href="/api">API available</a> that you are welcome to use in your applications.
</p>

<h3>Your privacy</h3>

<p>
	This website does not collect any information about you.
</p>

<h3>Disclaimer</h3>

<p>
THIS INFORMATION IS PROVIDED ON AN "AS IS" BASIS AND ALL RISK IS WITH YOU. 
DINOPASS MAKES NO WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, AS TO ANY MATTER WHATSOEVER. 
IN NO EVENT SHALL DINOPASS OR ITS SUPPLIERS BE LIABLE TO YOU OR ANY OTHER PARTY FOR ANY INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES.
</p>

<h3>Who's behind DinoPass?</h3>

<p>
	DinoPass is owned by Livio Bolzon. <a href="https://www.codemoji.com">Visit Codemoji to learn more about the team. </a>
</p>

