<h2>DinoPass API</h2>

<p>
	DinoPass also has an API available that you are welcome to use.
</p>

<h3>Simple Passwords</h3>

<p>
	For <strong>simple</strong> passwords use:<br>
</p>

<p>
	<code>
		<a href="/password/simple">http://www.dinopass.com/password/simple</a>
	</code>
</p>

<h3>Strong Passwords</h3>

<p>
	For <strong>strong</strong> passwords use:
</p>

<p>
	<code>
		<a href="/password/strong">http://www.dinopass.com/password/strong</a>
	</code>
</p>

