<div id="password-panel">

	<div id="password-panel-message"></div>

	<div id="password"><input id="password-input"></div>
	
	<ul>
		<li class="simple">
			<a id="simple-button" href="/?simple">Another <strong>simple</strong> password please</a>
		</li>
		<li class="strong">
			<a id="strong-button" href="/?strong">Another <strong>strong</strong> password please</a>
		</li>
	</ul>

</div>

<div id="about-passwords" class="content">

	<h2>About Dino's Passwords</h2>

	<h3>What does 'Simple password' mean?</h3>

	<p>
		Simple passwords only have lower case letters and numbers.
		They are easier to remember but might also be easier for someone else to guess.
	</p>

	<h3>What does 'Strong password' mean?</h3>

	<p>
		Strong passwords have mixed upper and lower case letters, a special character (like @, $, ! and so on) plus some numbers.
		They are best to use for important things like email accounts.
	</p>

	<h3>Are these passwords OK for kids?</h3>

	<p>
		Absolutely! The passwords are generated from a large set of preselected words.
		Dino has gone to some effort to ensure there are no offensive words and no possible offensive combinations. 
		However, if you notice any password not up to the Dino standard please <a href="/contact">let us know</a>.
	</p>
	
</div>

<script>


</script>

