<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="Password generator for creating simple, memorable and kid-friendy passwords">
<meta name="keywords" content="simple,password,generator,kids,easy to remember,safe">
<title><%= title %></title>
<link rel="shortcut icon" href="/assets/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style2.css" >
</head>
<body>
<div id="codemoji-banner">
	
		<a href="https://www.codemoji.com" target="_blank" style="
			display: flex;
			align-items: center; 
			justify-content: center; 
			color: white;
			padding: 10px;"
			
		>
		<img style="height: 45px;"src="https://res.cloudinary.com/eduprojectsil/image/upload/v1528843744/white-logo_fkoxjt.png"/>
			is an exciting new way to teach kids code. Click the banner to learn more.
		</a>
	</div>
<div id="header">
	
	<div id="header-content">

		<h1><a href="/">DinoPass</a></h1>

		<p id="header-tagline">Awesome password generator for kids</p>

		<div id="social">
			<span class="twitter">
				<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.dinopass.com" data-text="DinoPass - Simple Password Generator" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</span>
			<span class="facebook">
				<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dinopass.com&amp;layout=button_count&amp;show_faces=false&amp;width=300&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:21px;" allowTransparency="true"></iframe>
			</span>
		</div>
	
		<div id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>

	</div>

</div>

<div id="main">
<div id="main-content" class="content">
<%- body %>
</div>
</div>

<div id="footer">
  <p>
	<a href="https://www.codemoji.com" style="color: rgba(0,0,0,0.8);">  &copy; Codemoji® 2018 All right reserved</a>.
  </p>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<% scripts.forEach(function(js){ %>
<script src="<%= js %>"></script>
<% }); %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20015425-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


</body>
</html>
