<h2>Contact Us</h2>

<p>
	Thanks! We'll get back to you as soon as possible.
</p>

<p>
	If you don't hear from us with 24 hours then we might not have received your message.
	In that case please get in touch via the <a href="https://www.codemoji.com#contact">Codemoji contact</a>.
</p>

